.navbar{
    
    background-color: #323544;
    height: 10vh;

}
.topSlider{
    background-color: #323544!important;
    width: 100%;
text-align: center;
}
.navbar-brand img{

    width: 64px;
    height: 50px;
    
}
#finalNAv{
    background-color: #323544 !important;
}
.item {
    display:inline-block;
    font-size: xx-small;
    font-weight: 900;
    color: rgb(255, 255, 255);


}
 .logo{
    font-size: 15px;
    font-weight: 600;
    color: rgb(255, 255, 255);


}
.collapse a{

    color:rgb(255, 255, 255) ;
}
#sameh{
    color: white;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    font-size: 26px;
    width:100%;
    
}